/* --------------------------------------------------------
Style Sheet for annapurna-trek-map
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Gotu&display=swap");

:root {
  --color-accent: #a6d1c9;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ==========================================================================
	General overrides and utilities
	========================================================================== */

html, body {
	scroll-behavior: smooth;
}

.button {
  @apply bg-gray-800 hover:text-accent py-2 px-4 rounded shadow-lg transition-all cursor-pointer
    hover:shadow-sm text-white dark:bg-accent dark:text-gray-800
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800;
}

.link {
  @apply border-b border-dotted border-accent outline-none;
}

.link:hover {
  @apply border-transparent text-accent transition-all;
}

.link:disabled {
  @apply cursor-not-allowed;
}


/* ==========================================================================
	Mapbox overrides
	========================================================================== */

.mapboxgl-canvas {
  @apply absolute top-0 bottom-0 left-0 w-full h-full;
}

.suggestions-wrapper {
  @apply text-left;
}
